@charset "UTF-8";
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial;
  background-color: #000;
  /* disable text selection */
  user-select: none;          /* Chrome Opera */
  -ms-user-select: none;      /* Edge         */
  -moz-user-select: none;     /* Firefox      */
  -webkit-user-select:none;   /* Safari       */
  -webkit-touch-callout:none; /* Safari IOS   */
}

div.game {
  display: flex;
  justify-content: center;
}

div.game canvas {
  position: absolute;
}

/* responsive design
 * -------------------------------------------------- */
@media (orientation: landscape) {
  div.game canvas {
    height: 100%;
  }
}

@media (orientation: portrait) {
  div.game canvas {
    width: 100%;
  }
}
